<header class="header">
    <button
        type="button"
        class="mobile-menu-button"
        aria-label="Ouvrir le menu"
        (click)="menuClicked.emit()">
        <span></span>
        <span></span>
        <span></span>
    </button>
    <div class="header__spacer"></div>

    <div class="header__actions">

        <button
            type="button"
            class="notification"
            aria-label="Notifications">
            ♢
        </button>

        <div class="user">

            <div class="user__avatar">
                U
            </div>

            <div class="user__information">
                <strong>Utilisateur</strong>
                <span>Candidat</span>
            </div>

        </div>

    </div>

</header>